# Vim poop
*.swp

# Latex logs and *tex compiler output
*.aux
*.log
*.out
*.bib
*.bbl
*.blg
*.toc

# Avoid ignoring reference bibliography
!references.bib

# Jupyter notebook intermediate files
.ipynb_checkpoints

# Stupid mac folder file
.DS_store

# VS Code config file
.vscode

# Executable
*.x

# Build directory
build

# Shared library
*.so

# Python cache
__pycache__
.cache
*.pyc
.pytest_cache

# Pickle files
*.pkl
