# Vim poop
*.swp

# Latex logs and *tex compiler output
*.aux
*.log
*.out
*.bib

# Jupyter notebook intermediate files
.ipynb_checkpoints

# Stupid mac folder file
.DS_store

# Executable
*.x

# Data file
*.dat

